{% extends 'base.html' %}

{% block content %}
  <h2>{% block title %}Cadastro de requisições - "{{ reg_req['req_id'] }}" {% endblock %}</h2>
  <p>
    <form method="POST">
      <div class="form-group">
        <label for="form_lote">Código da requisição</label>
        <input readonly type="number" name="form_id"
             placeholder="Código da requisição" class="form-control"
             value="{{ request.form['form_id'] or reg_req['req_id']}}"></input>
      </div>
      <div class="form-group">
        <label for="form_dt_solic">Data da solicitação</label>
        <input readonly type="date" name="form_dt_solic"
             class="form-control" value="{{ request.form['form_dt_solic'] or reg_req['req_dt_solic'].strftime('%Y-%m-%d') }}"></input>
      </div>
      <div class="form-group">
        <label for="form_lote">Lote (*)</label>
        <input required type="number" name="form_lote" class="form-control"
           value="{{ request.form['form_lote'] or reg_req['req_lote'] }}"></input>
      </div>
      <div class="form-group">
        <label for="form_vacina">Vacina (*)</label>
        <input readonly type="number" name="form_vacina" class="form-control"
           value="{{ request.form['form_vacina'] or reg_req['req_vacina'] }}"></input>
      </div>
      <div class="form-group form_select">
        UBS de origem
        <select name="form_ubs_orig">
           {% for lista in lista_ubs %}
              {% if (lista['ubs_id'] == reg_req['req_UBS_orig']) %}
                <option value="{{ lista['ubs_id']}}" selected>{{ lista['ubs_nome']}}</option>
              {% else %}
                <option value="{{ lista['ubs_id']}}">{{ lista['ubs_nome']}}</option>
              {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group form_select">
          UBS de destino
          <select name="form_ubs_dest">
             {% for lista in lista_ubs %}
                {% if (lista['ubs_id'] == reg_req['req_UBS_dest']) %}
                  <option value="{{ lista['ubs_id']}}" selected>{{ lista['ubs_nome']}}</option>
                {% else %}
                  <option value="{{ lista['ubs_id']}}">{{ lista['ubs_nome']}}</option>
                {% endif %}
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="form_qtde">Quantidade</label>
        <input type="number" name="form_qtde"
            placeholder="Quantidade" class="form-control"
            value="{{ request.form['form_qtde'] or '%0.2f'|format(reg_req['req_qtde']|float)}}"></input>
      </div>
      <div class="form-group">
        <label for="form_responsavel">Responsável</label>
        <input type="Text" name="form_responsavel"
            placeholder="Responsavel" class="form-control"
            value="{{ request.form['form_responsavel'] or reg_req['req_responsavel'] }}"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Alterar</button>
      </div>
    </form>  
    <form action="{{ url_for('del_req', id=reg_req['req_id']) }}" method="POST">
        <input type="submit" value="Excluir"
              class="btn btn-danger"
              onclick="return confirm('Você tem certeza que quer apagar ?')">
    </form>
</p>
{% endblock %}