{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Inclusão de requisições{% endblock %}</h1>
<p>
    <form method="post">
         <div class="form-group">
           <label for="form_dt_solic">Data da solicitação</label>
           <input readonly type="date" name="form_dt_solic"
                placeholder="Data da solicitação" class="form-control"
              value="{{ request.form['form_dt_solic'] }}"></input>
        </div>
        <div class="form-group">
           <label for="form_vacina">Vacina(*))</label>
           <input type="number" name="form_vacina" class="form-control"
              value="{{ request.form['form_vacina']}}"></input>
        </div>
        <div class="form-group">
         UBS de origem
         <select name="form_ubs_orig">
            {% for lista in lista_ubs %}
               <option value="{{ lista['ubs_id']}}">{{ lista['ubs_nome']}}</option>
            {% endfor %}
         </select>
         </div>
         <div class="form-group">
            UBS de destino
            <select name="form_ubs_dest">
               {% for lista in lista_ubs %}
                  <option value="{{ lista['ubs_id']}}">{{ lista['ubs_nome']}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label for="form_qtde">Quantidade</label>
            <input type="number" name="form_qtde"
               placeholder="Quantidade" class="form-control"
               value="{{ request.form['form_qtde']}}"></input>
         </div>
         <div class="form-group">
            <label for="form_responsavel">Responsável</label>
            <input type="Text" name="form_responsavel"
               placeholder="Responsavel" class="form-control"
               value="{{ request.form['form_responsavel'] }}"></input>
         </div>
        <br/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
     </form>
</p>

{% endblock %}