{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Listagem de lotes{% endblock %}</h1>
<p>
  <form method="POST">
    <div class="mov-group">
      <label for="form_lote">Lote</label>
      <input type="text" name="form_lote"
         placeholder="Lote" class="mov-control"></input>
    </div>
    <div class="mov-group">
      <label for="form_vacina">Vacina</label>
      <input type="text" name="form_vacina"
         placeholder="Vacina" class="mov-control"></input>
    </div>
    <div class="mov-group">
      <label for="form_campanha">Campanha</label>
      <input type="text" name="form_campanha"
         placeholder="Campanha" class="mov-control"></input>
    </div>
    </br>
    <div class="mov-group">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
  </div>
<br/>
</p>

{% endblock %}