{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Cadastro de Usuários{% endblock %}</h1>
<p>
   <form method="post">
     <div class="form-group">
         <label for="form_nome">Nome (*)</label>
         <input type="text" name="form_nome"
              placeholder="Nome do usuário" class="form-control"
            value="{{ request.form['form_nome']}}"></input>
      </div>
      <br>
      <div class="form-group">
         UBS
         <select name="form_ubs">
            {% for lista in lista_ubs %}
               <option value="{{ lista['ubs_id']}}">{{ lista['ubs_nome']}}</option>
            {% endfor %}
         </select>
      </div>
      <br/>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Incluir</button>
      </div>
   </form>
</p>

{% endblock %}